---
import Carousel from "@components/Carousel.astro";
import Gallery from "@components/Gallery.astro";
import FlagDivider from "@components/FlagDivider.astro";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import CarTabs from "@components/CarTabs.astro";
import Card from "@components/Card.astro";
import Section from "@components/Section.astro";
import Stats from "@components/Stats.astro";
import { loadImageEntries } from "@utils/imageUtils";
import { texts, createCardContent } from "@utils/texts";

// Image data
type Partner = {
  featured?: boolean;
  [key: string]: any;
};

// Partners
let partners: Partner[] = [];
try {
  partners = await loadImageEntries("logos-partners-2425");
} catch (error) {
  console.error("Error loading partners data:", error);
}
const featuredPartners = partners.filter(
  (partner) => partner.featured === true
);
partners = [
  ...featuredPartners,
  ...partners.filter((partner) => partner.featured !== true),
];

import imagesExample from "@assets/imagesExample.json";

// Car components data
import carComponents from "@assets/carComponents.json";
---

<Layout id={Astro.self.name}>
  <Hero />

  <FlagDivider />

  <Section id="partners-principal" className="min-h-[200px]">
    <Gallery
      items={featuredPartners}
      alt="Logos de socios destacados"
      className="w-full lg:w-3/4 justify-between"
    />
    <!-- <div class="divider lg:divider-horizontal"></div> -->
    <Stats className="w-full lg:w-1/4" />
  </Section>

  <Section id="team">
    <Card
      className="w-full lg:w-2/3 bg-base-300 card-xl shadow-sm"
      buttons={[
        {
          text: "Únete",
          href: "#contact",
          icon: "mdi:account-plus",
        },
      ]}
      content={createCardContent(texts.home.team)}
    />
    <!-- <div class="divider lg:divider-horizontal"></div> -->
    <div class="w-full lg:w-1/3 flex flex-col justify-center items-center">
      <Carousel items={imagesExample} id="team-carousel" />
    </div>
  </Section>

  <Section id="car">
    <Card
      className="w-full lg:w-1/3 bg-base-300 card-xl shadow-sm"
      content={createCardContent(texts.home.car)}
    />
    <CarTabs
      carComponents={carComponents}
      id="car-components"
      className="w-full lg:w-2/3 h-full"
    />
  </Section>

  <Section id="partners">
    <Gallery
      items={partners}
      alt="Logos de todos los socios"
      className="w-full lg:w-3/4 justify-center"
    />
    <!-- <div class="divider lg:divider-horizontal"></div> -->
    <Card
      className="w-full lg:w-1/3 bg-base-300 card-xl shadow-sm"
      content={createCardContent(texts.home.contact)}
      buttons={[
        {
          text: "Patrocinio",
          icon: "mdi:account-multiple-plus",
          href: "#contact",
        },
      ]}
    />
  </Section>
</Layout>
