---
import NewsCard from "@components/NewsCard.astro";
import Layout from "@layouts/Layout.astro";
import { getNotionPages } from "@utils/notion";
import type { NotionPageType } from "@/types";
import Section from "@components/Section.astro";
import Card from "@components/Card.astro";
import { texts, createCardContent } from "@utils/texts";

// Obtener imágenes desde la API cacheada (SSR: usar URL absoluta)
let baseUrl = Astro.site;
const fetchNewsImages = async () => {
  const apiUrl = `${baseUrl}/api/news-images`;
  const res = await fetch(apiUrl, {
    headers: { "x-api-key": import.meta.env.API_NEWS_IMAGES_KEY },
  });
  if (!res.ok) return [];
  const data = await res.json();
  return data.images || [];
};

const noticias: NotionPageType[] = await getNotionPages();
const newsImages: string[] = await fetchNewsImages();
noticias.forEach((noticia, idx) => {
  if (newsImages[idx]) {
    noticia.Imagen = newsImages[idx];
  }
});

// Puedes definir cuántos placeholders añadir aquí
const placeholdersCount = 0;

for (let i = 0; i < placeholdersCount; i++) {
  noticias.push({
    Nombre: texts.placeholders.news.title,
    Contenido: texts.placeholders.news.content,
    Imagen:
      "https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp",
    url: `proximamente-${i + 1}`,
    Publicado: false,
    Fecha: "",
  });
}
---

<Layout
  id={Astro.self.name}
  title="Noticias"
  description="Últimas noticias del equipo Canarias Racing Team. Competiciones, logros, eventos y novedades del primer equipo de Formula Student de Canarias."
  path="/news"
  image="/assets/logos-crteam/CRTEAM BLANCO.png"
>
  <Section id="news" className="py-15 gap-4">
    <aside
      id="titles"
      class="w-full lg:w-1/3 flex flex-col gap-4 lg:sticky lg:self-start lg:h-fit lg:top-25"
    >
      <Card
        className="w-full bg-base-300"
        content={createCardContent(texts.news.noticias)}
      />
      <Card
        className="w-full bg-base-300"
        content={createCardContent(texts.news.newsletter)}
      >
        <form
          action="/subscribe"
          class="flex gap-2 mt-4 join"
          action={`mailto:crteam@ull.edu.es`}
          method="POST"
          enctype="text/plain"
        >
          <input
            type="email"
            name="email"
            placeholder="Tu correo electrónico"
            required
            class="input input-bordered flex-1 join-item"
          />
          <button type="submit" class="btn btn-primary join-item"
            >Suscribirse</button
          >
        </form>
      </Card>
    </aside>
    <div
      id="content"
      class="w-full lg:w-2/3 grid grid-cols-1 lg:grid-cols-2 gap-4 mb-8 mt-4 lg:mt-0 h-fit"
    >
      {
        noticias.map((noticia) => (
          <NewsCard
            noticia={noticia}
            short
            link={{ href: `/news/${noticia.url}`, text: "Leer más" }}
          />
        ))
      }
    </div>
  </Section>
</Layout>
