---
import SectionSample from "@components/SectionSample.astro";
import Layout from "@layouts/Layout.astro";
import { getNotionPages } from "@utils/notion";
import type { NotionPageType } from "@/types";

const noticias: NotionPageType[] = await getNotionPages();
---

<Layout id={Astro.self.name}>
  <div class="flex min-h-screen mt-10">
    <!-- Columna Izquierda -->
    <aside
      class="w-full md:w-1/3 xl:w-1/4 p-8 flex flex-col gap-10 sticky top-24 self-start h-fit"
    >
      <div>
        <h1 class="text-4xl font-bold mb-6">Noticias</h1>
        <p class="mb-4">Últimas actualizaciones del Canarias Racing Team.</p>
      </div>
      <div>
        <h2 class="text-3xl font-semibold mb-4">
          Suscríbete a nuestro Newsletter
        </h2>
        <p class="mb-4">
          Recibe las últimas noticias directamente en tu correo.
        </p>
        <form action="/subscribe" method="POST" class="gap-2 join">
          <input
            type="email"
            name="email"
            placeholder="Tu correo electrónico"
            required
            class="input input-bordered join-item"
          />
          <button type="submit" class="btn btn-primary join-item"
            >Suscribirse</button
          >
        </form>
      </div>
    </aside>
    <!-- Columna Derecha (posts con scroll) -->
    <main class="flex-1 overflow-y-auto max-h-[calc(100vh-6rem)] p-8">
      <ul class="flex flex-col gap-8">
        {
          noticias.map((noticia) => (
            <li>
              <SectionSample
                title={noticia.Nombre}
                description={
                  noticia.Contenido || "No hay descripción disponible."
                }
                image={noticia.Imagen}
                id={noticia.url}
                link={{ href: `/news/${noticia.url}`, text: "Leer más" }}
              >
                {/* Aquí puedes renderizar más contenido si lo hay */}
              </SectionSample>
            </li>
          ))
        }
      </ul>
    </main>
  </div>
</Layout>
