---
import { Image } from "astro:assets";

const {
  size = 24,
  src = "https://img.daisyui.com/images/profile/demo/batperson@192.webp",
  alt = "Avatar",
} = Astro.props;
---

<div id={Astro.self.name} class="avatar">
  <div class=`w-${size} rounded`>
    <Image
      src={src}
      alt={alt}
      class="rounded-2xl"
      inferSize={true}
      loading="lazy"
    />
  </div>
</div>
