---
import Buttons from "./Buttons.astro";
import { Image } from "astro:assets";

const {
  buttons,
  className = "",
  content = [],
  buttonsVertical = false,
  image,
} = Astro.props;
---

<div
  id={Astro.self.name}
  class={`card ${className} card-md md:card-lg lg:card-side bg-base-300 shadow`}
>
  {
    image && (
      <figure class="w-full lg:w-1/3">
        <Image
          src={image.src}
          alt={image.name || image.alt || "Imagen"}
          class="object-cover"
          inferSize
          loading="lazy"
        />
      </figure>
    )
  }
  <div class={`card-body w-full ${image && "lg:w-2/3"}`}>
    {
      content.length > 0 &&
        content.map((item: any, index: number) => {
          if (item.type === "title") {
            return (
              <h2 class="card-title" aria-label={item.text}>
                {item.text}
              </h2>
            );
          } else if (item.type === "subtitle") {
            return (
              <p class="text-gray-500" aria-label={item.text}>
                {item.text}
              </p>
            );
          } else if (item.type === "paragraph") {
            return (
              <p id={`content-${index}`} class="leading-relaxed">
                {item.text}
              </p>
            );
          }
        })
    }
    <slot />
    {
      buttons && (
        <Buttons
          buttons={buttons}
          className={`card-actions self-end`}
          vertical={buttonsVertical}
        />
      )
    }
  </div>
</div>
