---
import { Icon } from "astro-icon/components";
import Buttons from "./Buttons.astro";

const {
  title,
  subtitle,
  buttons,
  className = "",
  paragraphs = [],
  buttonsVertical = false,
} = Astro.props;
---

<div class={`card ${className} card-xl`}>
  <div class="card-body">
    {
      title && (
        <h2 class="card-title" aria-label={title}>
          {title}
        </h2>
      )
    }
    {
      subtitle && (
        <p class="text-md text-gray-500" aria-label={subtitle}>
          {subtitle}
        </p>
      )
    }
    {
      paragraphs &&
        paragraphs.map((text: string, index: number) => (
          <p id={`paragraph-${index}`}>{text}</p>
        ))
    }
    <slot />
    <Buttons
      buttons={buttons}
      className={`card-actions self-end mt-4`}
      vertical={buttonsVertical}
    />
  </div>
</div>
