---
import Buttons from "./Buttons.astro";

const {
  buttons,
  className = "",
  content = [],
  buttonsVertical = false,
} = Astro.props;
---

<div class={`card ${className} bg-base-300 shadow`}>
  <div class="card-body">
    {
      content.length > 0 &&
        content.map((item: any, index: number) => {
          if (item.type === "title") {
            return (
              <h2 class="card-title" aria-label={item.text}>
                {item.text}
              </h2>
            );
          } else if (item.type === "subtitle") {
            return (
              <p class="text-gray-500" aria-label={item.text}>
                {item.text}
              </p>
            );
          } else if (item.type === "paragraph") {
            return (
              <p id={`content-${index}`} class="leading-relaxed">
                {item.text}
              </p>
            );
          }
        })
    }
    <slot />
    {
      buttons && (
        <Buttons
          buttons={buttons}
          className={`card-actions self-end`}
          vertical={buttonsVertical}
        />
      )
    }
  </div>
</div>
