---
import Buttons from "./Buttons.astro";
import { Image } from "astro:assets";

const {
  buttons,
  className = "",
  content = [],
  buttonsVertical = false,
  image,
} = Astro.props;
---

<div
  id={Astro.self.name}
  class={`card ${className} card-md md:card-lg lg:card-side bg-base-300 shadow`}
>
  {
    image && (
      <figure class="w-full lg:w-1/3">
        <Image
          src={image.src}
          alt={image.name || image.alt || "Imagen"}
          width={256}
          height={256}
          sizes="(max-width: 768px) 128px, 256px"
          class="object-cover"
          loading="lazy"
        />
      </figure>
    )
  }
  <div class={`card-body w-full ${image && "lg:w-2/3"}`}>
    {
      content.length > 0 &&
        content.map((item: any, index: number) => {
          if (item.type === "title") {
            return <h2 class="card-title">{item.text}</h2>;
          } else if (item.type === "subtitle") {
            return <p class="text-base-content/70 font-medium">{item.text}</p>;
          } else if (item.type === "paragraph") {
            return (
              <p
                id={`content-${index}`}
                class="leading-relaxed text-base-content/90"
              >
                {item.text}
              </p>
            );
          }
        })
    }
    <slot />
    {
      buttons && (
        <Buttons
          buttons={buttons}
          className={`card-actions self-end`}
          vertical={buttonsVertical}
        />
      )
    }
  </div>
</div>
