---
import Buttons from "./Buttons.astro";

const {
  buttons,
  className = "",
  content = [],
  buttonsVertical = false,
} = Astro.props;
---

<div class={`card ${className} card-lg shadow-xl bg-base-300`}>
  <div class="card-body">
    {
      content.length > 0 &&
        content.map((item: any, index: number) => {
          if (item.type === "title") {
            return (
              <h2 class="card-title text-2xl" aria-label={item.text}>
                {item.text}
              </h2>
            );
          } else if (item.type === "subtitle") {
            return (
              <p class="text-lg text-gray-500" aria-label={item.text}>
                {item.text}
              </p>
            );
          } else if (item.type === "paragraph") {
            return (
              <p id={`content-${index}`} class="mb-2 leading-relaxed">
                {item.text}
              </p>
            );
          }
        })
    }
    <slot />
    <Buttons
      buttons={buttons}
      className={`card-actions self-end mt-4`}
      vertical={buttonsVertical}
    />
  </div>
</div>
