---
import Buttons from "./Buttons.astro";
import { Image } from "astro:assets";

const {
  buttons,
  className = "",
  content = [],
  buttonsVertical = false,
  image,
  style = "height: auto;",
} = Astro.props;
---

<div
  id={Astro.self.name}
  class={`card ${className} card-md md:card-lg bg-base-300 shadow`}
  style={`${style}`}
>
  {
    image && (
      <figure class="w-full h-full relative">
        {typeof image.src === "string" ? (
          <img
            src={image.src}
            alt={image.name || image.alt || "Imagen"}
            class="object-cover"
            loading="lazy"
          />
        ) : (
          <Image
            src={image.src}
            alt={image.name || image.alt || "Imagen"}
            inferSize
            sizes="(max-width: 768px) 128px, 256px"
            class="object-cover"
            loading="lazy"
          />
        )}
      </figure>
    )
  }
  <div class={`card-body w-full h-full p-4 md:p-6`}>
    {
      content.length > 0 &&
        content.map((item: any, index: number) => {
          if (item.type === "title") {
            return <h2 class="card-title">{item.text}</h2>;
          } else if (item.type === "subtitle") {
            return <p class="text-base-content/70 font-medium">{item.text}</p>;
          } else if (item.type === "paragraph") {
            return (
              <p
                id={`content-${index}`}
                class="leading-relaxed text-base-content/90"
              >
                {item.text}
              </p>
            );
          }
        })
    }
    <slot />
    {
      buttons && (
        <Buttons
          buttons={buttons}
          className={`card-actions self-end`}
          vertical={buttonsVertical}
        />
      )
    }
  </div>
</div>
