---
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

type CarouselItem = {
  src: string;
  alt?: string;
  name?: string;
  icon?: string;
  brief?: string;
};

const { items = [], id } = Astro.props;
const filledItems: CarouselItem[] = items;
---

<div
  id={id}
  class="tabs tabs-border tabs-bottom tabs-xl w-full h-full place-content-center"
  role="tablist"
  aria-label="Carousel Tabs"
>
  {
    filledItems.map((item: CarouselItem, idx: number) => (
      <>
        <input
          type="radio"
          name={`${id}_tabs`}
          class="tab"
          aria-label={`${idx + 1}`}
          id={`${id}-tab-${idx}`}
          checked={idx === 0}
          role="tab"
        />
        <div
          class="tab-content bg-transparent border-none p-0"
          aria-labelledby={`${id}-tab-${idx}`}
        >
          <div class="w-full mx-auto place-self-center">
            <figure>
              <Image
                src={item.src}
                alt={item.alt ?? item.name ?? `Imagen ${idx + 1}`}
                class="avatar w-fit object-cover rounded-2xl shadow-sm place-self-center"
                loading="lazy"
                inferSize={true}
              />
            </figure>
          </div>
        </div>
      </>
    ))
  }
</div>
