---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Card from "./Card.astro";
import type { CarComponentType } from "@/types";

const { carComponents = [], id, className } = Astro.props;
---

<div id={id} class={`tabs tabs-border ${className || ""}`} role="tablist">
  {
    carComponents.map((component: CarComponentType, index: number) => {
      const tabId = `tab-${component.name.toLowerCase().replace(/\s+/g, "-")}`;

      return (
        <>
          <label class="tab gap-2 sm:py-0 cursor-pointer" for={tabId}>
            <input
              type="radio"
              name={`car_components_tabs_${id}`}
              id={tabId}
              checked={index === 0}
              role="tab"
            />
            {component.icon && <Icon name={`mdi:${component.icon}`} />}
            <span class="hidden sm:inline">{component.name}</span>
          </label>
          <div class="tab-content bg-transparent border-none p-0">
            <Card className="lg:card-side shadow-xl">
              <figure class="w-full lg:w-2/4">
                <Image
                  src={component.src}
                  alt={component.name}
                  class="object-cover w-full h-48 lg:h-auto"
                  inferSize
                  loading="lazy"
                />
              </figure>
              <div class="card-body">
                <h2 class="card-title">{component.name}</h2>
                <p>{component.brief}</p>
              </div>
            </Card>
          </div>
        </>
      );
    })
  }
</div>
