---
import { Icon } from "astro-icon/components";
import Card from "./Card.astro";
import type { CarComponentType } from "@/types";

const { carComponents = [], id, className } = Astro.props;
---

<div
  id={id}
  class={`tabs tabs-border self-center ${className || ""}`}
>
  {
    carComponents.map((component: CarComponentType, index: number) => {
      const tabId = `tab-${component.name.toLowerCase().replace(/\s+/g, "-")}`;

      const cardContent = [
        { type: "title", text: component.name },
        { type: "paragraph", text: component.brief },
      ];

      return (
        <>
          <label id={`tab-${tabId}`} class="tab gap-2 sm:py-0 cursor-pointer" for={tabId}>
            <input
              type="radio"
              name={`car_components_tabs_${id}`}
              id={tabId}
              checked={index === 0}
            />
            {component.icon && <Icon name={`mdi:${component.icon}`} />}
            <span>{component.name}</span>
          </label>
          <div class="tab-content bg-transparent border-none p-0">
            <Card className="h-full" image={component} content={cardContent} />
          </div>
        </>
      );
    })
  }
</div>
