---
import { Icon } from "astro-icon/components";
import Card from "./Card.astro";
import type { CarComponentType } from "@/types";

const { carComponents = [], id, className } = Astro.props;
console.log(
  `CarTabs ${id} initialized with ${carComponents.length} components`
);
---

<div id={id} class={`tabs tabs-border self-center ${className || ""}`}>
  {
    carComponents.map((component: CarComponentType, index: number) => {
      const tabId = `tab-${component.name.toLowerCase().replace(/\s+/g, "-")}`;

      const cardContent = [
        { type: "title", text: component.name },
        { type: "paragraph", text: component.brief },
      ];

      return (
        <>
          {/* <label
            id={`tab-${tabId}`}
            class="tab gap-2 sm:py-0 cursor-pointer"
            for={tabId}
          >
            <input
              type="radio"
              name={`car_components_tabs_${id}`}
              id={tabId}
              checked={index === 0}
            />
            {component.icon && <Icon name={`mdi:${component.icon}`} />}
            <span>{component.name}</span>
          </label>
          <div class="tab-content h-stretch start-0 sticky">
            <Card
              image={component.src && component}
              content={cardContent}
              style="height:inherit;"
            />
          </div> */}
        </>
      );
    })
  }
</div>
