---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logoCRT from "@assets/logos-crteam/CRTEAM BLANCO.png"; // Importa la imagen
const year = new Date().getFullYear();

const navigationSections = [
  {
    title: "Info y Redes",
    ariaLabel: "Información y Redes Sociales",
    items: [
      { href: "https://twitter.com/", icon: "mdi:twitter", label: "Twitter" },
      { href: "https://youtube.com/", icon: "mdi:youtube", label: "YouTube" },
      {
        href: "https://facebook.com/",
        icon: "mdi:facebook",
        label: "Facebook",
      },
      { href: "/Dossier de empresas Canarias Racing Team.pdf",icon: "mdi:document", label: "Prensa" },
    ],
  },
] as const;
---

<footer
  class="bg-base-300 text-base-content flex flex-col lg:flex-row justify-center lg:justify-between items-center lg:items-start gap-8 py-12 mx-auto px-4 md:px-8 lg:px-16 xl:px-24 2xl:px-32"
  role="contentinfo"
  aria-label="Footer"
>
  <aside class="text-center lg:text-left max-w-xs">
    <Image
      src={logoCRT}
      alt="Canarias Racing Team Logo"
      width={138}
      height={138}
      sizes="(max-width: 768px) 80px, 138px"
      class="h-8 w-auto mb-4 mx-auto lg:mx-0"
    />
    <div class="flex items-center justify-center lg:justify-start gap-2 mb-1">
      <Icon name="mdi:copyright" class="h-4 w-4" aria-label="Copyright Icon" />
      <p class="font-bold text-sm">
        {year} Canarias Racing Team
      </p>
    </div>
    <p class="text-sm opacity-75">Todos los derechos reservados</p>
    <a
      href="https://tomas2p.vercel.app"
      class="link link-hover justify-start block text-sm mb-1 opacity-75 hover:opacity-100"
      target="_blank"
      rel="noopener noreferrer"
    >
      Hecho por @Tomas2p
    </a>
  </aside>

  <div class="flex flex-row gap-16 lg:gap-20">
    {
      navigationSections.map((section) => (
        <nav aria-label={section.ariaLabel} class="text-left">
          <p class="text-sm font-bold uppercase mb-4 text-gray-400">
            {section.title}
          </p>
          {section.items.map((item) => {
            const isSocial = "icon" in item;
            return (
              <a
                class={`link link-hover justify-start text-sm mb-2 ${isSocial ? "flex items-center hover:text-white" : "block"}`}
                href={item.href}
                aria-label={item.label}
                target={isSocial ? "_blank" : undefined}
                rel={isSocial ? "noopener noreferrer" : undefined}
              >
                {isSocial && <Icon name={item.icon} class="h-4 w-4 mr-2" />}
                <span>{item.label}</span>
              </a>
            );
          })}
        </nav>
      ))
    }
  </div>

  <form
    id="contact"
    class="text-center px-4 md:px-0 lg:text-left"
    action="mailto:crteam@ull.edu.es"
    method="POST"
    enctype="text/plain"
  >
    <p class="text-sm font-bold uppercase mb-4 text-gray-400">Contáctanos</p>
    <fieldset class="w-full max-w-xs">
      <div class="flex flex-row gap-2 join">
        <input
          id="email"
          name="email"
          type="email"
          placeholder="username@site.com"
          class="input join-item bg-neutral-700 border-neutral-600 text-center text-white placeholder-gray-400 w-full"
          required
        />
        <button
          class="btn join-item bg-primary text-black border-none font-semibold"
          >Contactar</button
        >
      </div>
    </fieldset>
  </form>
</footer>
