---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logoCRT from "../assets/logos-crteam/CRTEAM BLANCO.png"; // Importa la imagen
const year = new Date().getFullYear();

const links = [
  { href: "/about", label: "Sobre nosotros" },
  { href: "/contact", label: "Contacto" },
  { href: "/jobs", label: "Trabaja con nosotros" },
  { href: "/press", label: "Prensa" },
];

const socials = [
  { href: "https://twitter.com/", icon: "mdi:twitter", label: "Twitter" },
  { href: "https://youtube.com/", icon: "mdi:youtube", label: "YouTube" },
  { href: "https://facebook.com/", icon: "mdi:facebook", label: "Facebook" },
];
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <Image
      src={logoCRT}
      alt="Canarias Racing Team Logo"
      inferSize={true}
      class="h-8 w-auto mb-4"
    />
    <div class="inline-flex place-items-flex-start gap-2">
      <Icon
        name="mdi:copyright"
        class="h-5 w-5"
        aria-label="Copyright Icon"
      />
      <p class="font-bold mb-1">
        {year} Canarias Racing Team
      </p>
    </div>
    <p class="text-xs">Todos los derechos reservados</p>
  </aside>

  <nav>
    <h6 class="footer-title">Enlaces</h6>
    {
      links.map((link) => (
        <a class="link link-hover" href={link.href}>
          {link.label}
        </a>
      ))
    }
  </nav>

  <nav>
    <h6 class="footer-title">Redes Sociales</h6>
    <div class="flex justify-center gap-4">
      {
        socials.map((social) => (
          <a
            href={social.href}
            target="_blank"
            rel="noopener"
            aria-label={social.label}
          >
            <Icon name={social.icon} class="h-5 w-5" />
          </a>
        ))
      }
    </div>
  </nav>
  <form id="contact">
    <h6 class="footer-title">Contactanos</h6>
    <fieldset class="w-80">
      <label>Introduce tu mail</label>
      <div class="join gap-2 mt-2">
        <input
          type="text"
          placeholder="username@site.com"
          class="input input-bordered join-item"
        />
        <button class="btn btn-primary join-item">Contactar</button>
      </div>
    </fieldset>
  </form>
</footer>
