---
import { Image } from "astro:assets";
import type { ImageEntry } from "@types";

const { items, size = 24, className } = Astro.props;

const resolvedItems = await Promise.all(
  items.map(async (item: ImageEntry) => ({
    alt: item.alt,
    src: await item.src(),
  }))
);
---

<div
  id={Astro.self.name}
  class={`flex flex-wrap flex-row overflow-x-auto w-full items-center gap-4 ${className}`}
>
  {
    resolvedItems.map((item) => (
      <div class={`w-${size} flex justify-center items-center`}>
        <Image
          src={item.src}
          alt={item.alt}
          inferSize={true}
          loading="lazy"
          class="filter grayscale invert"
        />
      </div>
    ))
  }
</div>
