---
import Image from "astro/components/Image.astro";
import Buttons from "./Buttons.astro";
import { Icon } from "astro-icon/components";
import type { SectionSampleLinkType, NotionPageType } from "@types";

interface Props {
  noticia: NotionPageType;
  link?: SectionSampleLinkType;
  short?: boolean;
  className?: string;
}

const { noticia, short, link, className = "" } = Astro.props;
---

<div
  id={noticia.url}
  class={`card ${className} card-md md:card-lg lg:card-side bg-base-300 shadow`}
>
  {
    noticia.Imagen && (
      <figure class="w-full lg:w-1/3">
        <Image
          src={noticia.Imagen}
          alt={noticia.Nombre}
          class="object-cover"
          inferSize
          loading="eager"
        />
      </figure>
    )
  }

  <div class={`card-body w-full lg:w-2/3 ${short ? "p-6" : ""}`}>
    <h2 class="card-title" aria-label={noticia.Nombre}>
      {noticia.Nombre}
    </h2>

    {
      noticia.Contenido && (
        <p class="text-base-content/80">
          {short && noticia.Contenido.length > 200
            ? `${noticia.Contenido.slice(0, 200)}...`
            : noticia.Contenido}
        </p>
      )
    }

    <slot />
    <div class="card-actions justify-between mt-4 place-items-center">
      <div class="flex flex-col gap-1">
        {
          noticia.Autor && (
            <div class="badge badge-soft">
              <Icon name="mdi:account" class="size-[1em] mr-1" />
              {noticia.Autor}
            </div>
          )
        }

        {
          noticia.Fecha && (
            <div class="badge badge-soft">
              <Icon name="mdi:calendar" class="size-[1em] mr-1" />
              {new Date(noticia.Fecha).toLocaleDateString("es-ES", {
                year: "numeric",
                month: short ? "short" : "long",
                day: "numeric",
              })}
            </div>
          )
        }
      </div>

      {
        link && (
          <Buttons
            buttons={[
              { text: link.text, href: link.href, icon: "mdi:arrow-right" },
            ]}
            className="justify-end"
          />
        )
      }
    </div>
  </div>
</div>
