---
import { Image } from "astro:assets";

const {
  id = Astro.self.name,
  title = "Título de ejemplo",
  description = "Descripción de ejemplo para la sección.",
  image,
  link = {
    href: "#",
    text: "Contáctanos",
  },
  className = "",
} = Astro.props;
---

<section id={id} class={`container mx-auto max-w-2xl px-4 py-10 ${className}`}>
  <article class="bg-base-200 shadow-sm rounded-lg overflow-hidden">
    {
      image && (
        <figure>
          <Image
            src={image}
            alt={title}
            inferSize={true}
            loading="lazy"
            class="object-cover w-full max-h-80"
          />
        </figure>
      )
    }
    <div class="p-6 flex flex-col gap-4">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      {description && <p class="text-base-content/80">{description}</p>}
      <div class="prose max-w-none">
        <slot />
      </div>
      <div class="mt-6 flex justify-end">
        <a href={link.href} class="btn btn-primary">{link.text}</a>
      </div>
    </div>
  </article>
</section>
